body{
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

a {
    color: #333;
    text-decoration: none;
  }

.mannaka{
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}



/* <header> */
header{
    width: 100%;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header-daimei{
    font-size: 32px;
    padding: 20px 16px;
}

.header-mokuji-haikei{
    background-color: #333;
    margin: 0;
    padding: 0;
}

.header-mokuji{
    overflow-x: scroll;
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: auto;
}

.header-mokuji li{
    padding: 10px 60px 10px 0;
}

.header-mokuji li a{
    color: #fff;
}

.body-sub{
    margin-top: 50px;
    padding-bottom: 60px;
}

/* <mokuji> */

.content-mokuji-container{
    display: flex;
    justify-content: space-between;
}

.mokuji-daimei{
    padding: 10px 0 15px 0;
}

.mokuji-syasin{
    margin: 0 auto;
    max-width: 100%;
    width: 373.75px;
    height: 210.23px;
    background-color: darkgrey;
}

.body-main{
    display: flex;
    justify-content: space-between;
}

.mokuji{
    width: 32%;
}

.mokuji-link{
    text-align: center;
}

.mokuji-link a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
  }

.mokuji-link a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;
  }

  .mokuji-link a:hover::after {
    opacity: 0;
    transform: translateY(3px);
  }

/* <vlog> */
.content-vlog{
    width: 67%;
}

.vlog-item{
    padding-bottom: 80px;
}

.vlog-title{
    padding: 10px 0 15px 0;
    font-weight: 600;
    font-size: 23px;
}

.vlog-date{
    padding-bottom: 10px;
}

.vlog-date li{
    display: inline;
}

.vlog-sysin{
    margin: 0 auto;
    max-width: 100%;
    background-color: darkgray;
    width: 759.2px;
    height: 427.04px;
}

.vlog-sentence{
    padding: 10px 40px 30px 40px;
}

/* <left-list> */
.leftlist-container{
    width: 33%;
    text-align: center;
}

.side-title{
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 30px;
}

.pro-img{
    margin: 0 auto;
    border-radius: 50%;
    background-color: darkgray;
    width: 130px;
    height: 130px;
}

.ranking-name{
    padding-bottom: 30px;
}

.ranking-img{
    margin: 0 auto;
    background-color: darkgray;
    max-width: 100%;
    width: 345.44px;
    height: 194.3px;
    margin-bottom: 10px;
}

.archive{
    border-bottom: solid 1px #777;
}

.left-archive li{
    font-size: 0.875rem;
    border-bottom: solid 1px #777;
    list-style: none;
    padding: 20px;
    text-align: left;
}

.left-ranking , .left-archive{
    margin-top: 60px;
}

.pro-img, .ranking-img{
    text-align: center;
}
/* <footer> */

footer{
    font-size: 0.875rem;
    background-color: #f7f7f7;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-item{
    width: 30%;
}

.footer-title{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 30px;
}

/* <footer-about> */
.about-list{
    padding: 20px 0;
    list-style: none;
}

.about-list li{
    margin-bottom: 5px;
}

/* <footer-menu> */
.menu{
    border-bottom: solid 1px #777;
}
.menu-list{
    list-style: none;   
}

.menu-list li{
    padding: 15px;
    border-bottom: solid 1px #777;
}

/* ---------レスポンシブ--------- */

@media screen and (max-width: 768px){

    .mokuji{
        margin-bottom: 30px;
        width: 100%;
    }

    .content-mokuji-container{
        display: flex;
        flex-direction: column;
        
    }

    .mokuji-daimei{
        text-align: left;
    }

    body{
        text-align: left;
        
    }

    .body-main{
        display: flex;
        flex-direction: column;
    }

    .content-vlog{
        width: 100%;
    }

    .vlog-sysin{
        max-width: 100%;
        width: 398px;
        height: 223.88px;
    }

    .leftlist-container{
        width: 100%;
        text-align: left;
    }

    .side-title{
        text-align: center;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
    }
    
    .footer-item{
        width: 100%;
        margin-bottom: 30px;
    }
}